<style>
     
</style>

<div id="merchants">
    <ul>
        <li><h1>Core           </h1><p>At the foundation of 3 is 2.1</p></li>
        <li><h1>Selectors      </h1><p>Fine tuned control over what you target for styling</p></li>
        <li><h1>Fonts          </h1><p>A look at how to introduce fonts you really want</p></li>
        <li><h1>Layout         </h1><p>Another way to put all the content where it should go</p></li>
        <li><h1>Background     </h1><p>Setting the proper mood or scene</p></li>
        <li><h1>Colors         </h1><p>Just when you though there were no more color options</p></li>
        <li><h1>Shadowing      </h1><p>Providing depth to what you present</p></li>
        <li><h1>Borders        </h1><p>Round this one up, you won't feel boxed in anymore</p></li>
        <li><h1>Transformations</h1><p>When you need to tweak things the way you like it</p></li>
        <li><h1>Animations     </h1><p>Did something just move?  Yep</p></li>
        <li><h1>Media Queries  </h1><p>How is this going to look on a smaller screen, or device?</p></li>
        <li><h1>Scripting      </h1><p>Oh yeah, a little scripting won't hurt</p></li>
    </ul>    
</div>
