<div class="row" style="margin: 10px">
    <form>
        <label>Search YESR glossary:</label>
        <input id="storeInput" type="text"
            data-provide="typeahead" data-items="4"
            data-source="[&quot;Cash Back Bonus&quot;,&quot;Referral Bonus&quot;,&quot;Special Bonus&quot;,&quot;Merchant Discount&quot;,&quot;Wallet Money&quot;,&quot;YBond&quot;,&quot;Accumulation Resreve&quot;,&quot;Merchant Revenue&quot;]">
    </form>
</div>

<!-- Cash Back Bonus -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary1.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Cash Back Bonus</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- Referral Bonus -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary2.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Referral Bonus</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- Special Bonus -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary3.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Special Bonus</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- Merchant Discount -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary4.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Merchant Discount</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- YBond -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary5.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">YBond</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- Wallet Money -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary6.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Wallet Money</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- Accumulation Reserve -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary7.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Accumulation Reserve</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

<!-- Merchant Revenue -->
<div class="media" style="margin: 10px">
    <a class="pull-left" href="#">
        <img class="media-object" src="~/Content/img/Glossary8.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Merchant Revenue</h4>
        <div class="media">
            Lorem ipsum contains definition and a detail page to explain the term better with illustrations.... <a href="#">Learn more</a> 
        </div>
    </div>
</div>

