<style>
.label-info {
  background-color: #3a87ad;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 10px;
}
</style>

<div class="row" style="margin: 20px">
    <div class="span4">
        <form>
            <span class="label label-info">Please complete and click calculate:</span>
            <fieldset>
                <label for="monthlySpend">Monthly Spend (AED)</label>
                <select id="monthlySpend">
                    <option>1000</option>
                    <option>2000</option>
                    <option selected="">3000</option>
                    <option>4000</option>
                    <option>5000</option>
                    <option>6000</option>
                    <option>7000</option>
                    <option>8000</option>
                    <option>9000</option>
                    <option>10000</option>
                </select>
                <label for="monthlyReferrals">Monthly Referrals</label>
                <select id="monthlyReferrals">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option selected="">3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                <br/>
                <button id="btnCalculate" type="button" class="btn btn-primary btn-nbc" data-loading-text="Calculating...">Calculate!</button>
            </fieldset>
        </form>
    </div>
    <div id="chart" class="span10"></div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            //var chartOptions = Highcharts.setOptions(App.Simulation.MemberCalculator.getChartGrayTheme());
            calculate();
            $('#btnCalculate').click(function() {
                calculate();
            });
        });

        function calculate() {
            $('#btnCalculate').button('loading');
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'chart',
                    zoomType: 'xy'
                },
                title: {
                    text: 'YBonds and Bonuses for ' + $('#monthlySpend').val() + ' AE monthly spend and ' + $('#monthlyReferrals').val() + ' monthly referrals!'
                },
                subtitle: {
                    text: 'Source: YESR Platform'
                },
                xAxis: [{
                    categories: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
                }],
                yAxis: [{
                        // Primary yAxis
                        labels: {
                            formatter: function() {
                                return this.value + ' YBonds';
                            },
                            style: {
                                color: '#808080'
                            }
                        },
                        title: {
                            text: 'YBonds',
                            style: {
                                color: '#808080'
                            }
                        }
                    }, {
                        // Secondary yAxis
                        title: {
                            text: 'Bonuses',
                            style: {
                                color: '#b30135'
                            }
                        },
                        labels: {
                            formatter: function() {
                                return this.value + ' AE';
                            },
                            style: {
                                color: '#b30135'
                            }
                        },
                        opposite: true
                    }],
                tooltip: {
                    formatter: function() {
                        return '' +
                            this.x + ': ' + this.y +
                            (this.series.name == 'YBonds' ? ' YBonds' : ' AE');
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    x: 120,
                    verticalAlign: 'top',
                    y: 100,
                    floating: true,
                    backgroundColor: '#FFFFFF'
                },
                series: [{
                        name: 'Bonuses',
                        color: '#b30135',
                        type: 'column',
                        yAxis: 1,
                        data: getBonusesData()
                    }, {
                        name: 'YBonds',
                        color: '#808080',
                        type: 'spline',
                        data: getYBondsData()
                    }]
            });

            setTimeout(function() {
                $('#btnCalculate').button('reset');
            }, 1000);
        }

        function getYBondsData() {
            // TODO: Send this to the platform to get calculated and returned
            var monthlySpend = parseInt($('#monthlySpend').val());
            var monthlyReferrals = parseInt($('#monthlyReferrals').val());
            var calculations = App.Simulation.MemberCalculator.calculate(10, monthlySpend, monthlySpend, monthlyReferrals, true, 1);
            return calculations['MemberYBonds'];
            //return [0, 2, 3, 5, 6, 8, 10, 11, 13, 15, 18, 21];
        }

        function getBonusesData() {
            // TODO: Send this to the platform to get calculated
            var monthlySpend = parseInt($('#monthlySpend').val());
            var monthlyReferrals = parseInt($('#monthlyReferrals').val());
            var calculations = App.Simulation.MemberCalculator.calculate(10, monthlySpend, monthlySpend, monthlyReferrals, true, 1);
            return calculations['TotalBonus'];
            //return [0, 81, 210, 285, 409, 617, 910, 1312, 1904, 2306, 2766, 3020];
        }
    </script>
}
