<div id="login-form" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Sign in to YESR</h3>  
    </div>  

    <div class="modal-body">  
    <form class="form-horizontal">
        <div class="control-group">
        <label class="control-label" for="inputEmail">Username</label>
        <div class="controls">
            <input type="text" id="inputEmail" placeholder="Username">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password">
        </div>
        </div>
        <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox"> Remember me
            </label>
        </div>
        </div>
    </form>       
    </div>         

    <div class="modal-footer">  
        <a href="@Url.Action("Index", "Members")" class="btn btn-nbc">Sign in</a>  
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>  
    </div>  
</div>  
