<!-- Complete Profile Form -->
<div class="container"> 
    <div id="profile-completion-form" class="modal hide fade in" style="display: none; ">  
        <div class="modal-header">  
        <a class="close" data-dismiss="modal">×</a>  
        <h3>YESR Profile Completion Form</h3>  
        </div>  
        <div class="modal-body">  
            <ol>
                <li>Your YESR profile is not complete until you visit an NBC outlet and show identity proof</li>
                <li>If you do not complete your profile by @DateTime.Now.AddDays(20).ToString("dd MMM yyyy"), your YESR membership will be revoked.</li>
                <li>There are <a href="#">700 NBC Outlets</a> throiught the UAE!</li>
                <li>Should you need any help, please do not hesitate to contact us!</li>
            </ol>
        </div>  
        <div class="modal-footer">  
        <a href="#" class="btn" data-dismiss="modal">Close</a>  
        </div>  
    </div>  
</div>
